.block-objective {
    &__title {
        margin-bottom: 1rem;
    }

    &__tag {
        margin-left: 3rem;
    }

    &__visualize {
        padding-left: 17rem;
    }

    &__buttonMenu {
        position: relative;
        top: -0.5rem;
    }

    &__taskStatus {
        display: inline-block;

        margin-top: 1rem;

        color: @namek;

&:extend(.text--bold);
    }

    &__dropdown {
        font-size: 1.6rem;

        padding: 0.7rem 2rem;

        cursor: pointer;
        text-align: center;

        background-color: @minion;
    }

    &__wrapper {
        padding: 2rem 0;
    }
}

.block-objective__animation-enter {
    transform: translateY(-100%);

    opacity: 0;
}

.block-objective__animation-enter.block-objective__animation-enter-active {
    transition: all 1s ease-in;
    transform: translateY(0%);

    opacity: 1;
}

.block-objective__animation-leave {
    opacity: 1;
}

.block-objective__animation-leave.block-objective__animation-leave-active {
    transition: opacity 1s 1s ease-in;
    transform: translateY(100%);

    opacity: 0;
}

.fade-appear, .fade-enter {
    opacity: 0;
}

.fade-appear-active, .fade-enter-active {
    transition: opacity 1.5s;

    opacity: 1;
}
