.header {
    padding: 2.2rem 5rem 0 5rem;

    border-bottom: 0.1rem solid #E3E3E3;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    background: @stormtrooper;

    &__navbar {
        margin-top: 5rem;
    }

    &__tags {
        margin-top: 2.4rem;
    }
}
