.list-vignette {
    display: flex;

    li:nth-child(odd) {
        .vignette {
            background-color: @adept;

            & > .vignette__icon {
                color: @stormtrooper;
            }
        }
    }
}
