@border-list: 0.5rem;

.list-dropdown {
    position: absolute;
    z-index: 5;
    top: -4rem;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 18.5rem;
    max-height: 18.5rem;

    transition: all 0.5s;
    transform-origin: top center;

    background-color: @minion;

    &:after {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: @border-list;

        content: "";

        background-color: @minion;
    }

    &__wrapper {
        position: relative;

        height: 18.5rem;
        max-height: 18.5rem;
        padding-right: 1rem;
    }

    &__item {
        margin: @border-list;
    }

    &--hidden {
        overflow: hidden;

        height: 0;
    }
}
