.list-dataform {
    display: inline-block;

    width: 100%;

    &__item {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        &--divider {
            padding-top: 2rem;

            border-top: 0.1rem solid @minion;
        }

        &--icono {
            display: flex;
            align-items: center;
        }
    }
}
