.list-notes {
    padding: 6rem 8rem;

    &__item {
        &:not(:last-child) {
            padding-bottom: 1.5rem;
        }
    }
}

.note {
    display: flex;
    align-items: center;
    justify-content: center;

&:extend(.text--regular);

    &__label {
        min-width: 25%;
    }

    &__markers {
        font-size: 2rem;

        flex: 1;

        color: @knight;
    }

    &__score {
        width: 10%;
    }

    &__tag {
        color: @stormtrooper;
        margin-right: 1rem;
    }
}
