.menu-actions {
    display: flex;
    align-items: center;

    li:not(:last-child) {
        margin-right: 0.6rem;
    }

    &__menu {
        color: @stormtrooper;
    }

    &__action {
        transition: all 0.5s;

        color: @smart;

        &:hover {
            color: @stormtrooper;
            background-color: @smart;
        }
    }
}
