.panel {
    margin-bottom: 6rem;

    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: @stormtrooper;

    &__wrapper {
        position: relative;

        padding: 4rem 2rem 4rem 2rem;
    }
}
