.popin {
    &__overlaid {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;

        display: flex;
        visibility: visible;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        transition: visibility 0s 1s, opacity 1s;

        opacity: 1;
        background-color: fade(@vador, 80%);

        perspective: 500px;
        perspective-origin: 50% 50%;

        &--novisible {
            visibility: hidden;

            opacity: 0;
        }
    }

    &__callAction {
        margin-top: 2rem;
    }

    &__cancel {
        border: none;
    }

    &__wrapper {
        width: 46rem;
        padding: 4rem;

        border: 0.3rem solid @smart;
        border-radius: @radius;
        background-color: @stormtrooper;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

        //Anim enter & leave popin
        &--enter {
            animation: slide-in-bck-center 0.7s
            cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }

        &--leave {
            animation: slide-out-top 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53)
            both;
        }
    }

    &__title {
        padding-bottom: 1.5rem;
    }

    &__textarea {
        margin-bottom: 2rem;
    }
}

.popin-profil {
    position: relative;
    top: -7rem;

    margin-bottom: -5rem;

    text-align: center;

    &__avatar {
        display: inline-block;

        width: 8rem;
        height: 8rem;
        margin-bottom: 1rem;
    }
}

.popin-list {
    position: relative;

    height: 20rem;
    margin: 3rem 0 4rem 0;

    li:nth-child(odd) {
        background-color: @acolyte;
    }

    &__item {
        display: flex;
        align-items: center;

        padding: 1rem 2rem 1rem 1rem;

        cursor: pointer;

        &:hover .popin-list__icon {
            color: @ruban;
        }
    }

    &__description {
        flex: 1;
    }

    &__person {
        display: block;

        padding-right: 2rem;
    }

    &__icon {
        font-size: 1.6rem;

        transition: color 0.3s;

        color: @knight;
    }

    &__textarea {
        display: inline-block;

        height: 10rem;
        margin: 0.5rem 0 2rem 0;
    }

    .ps__rail-y {
        margin: 0.5rem 0;
    }
}

.popin-status {
    &__category {
        margin: 0.5rem 0 1.5rem 0;
        padding: 0.8rem;

        border-radius: @radius;
        background-color: @apprentice;
    }
}

textarea {
    padding: 0.8rem;

    transition: border 0.5s;

    border: 0.1rem solid @apprentice;
    border-radius: @radius;

    &:hover {
        border-color: fade(@terran, 20%);
    }
}

.divider {
    display: block;

    height: 0.1rem;
    margin: 2rem 0;

    background-color: @minion;
}

@keyframes slide-in-bck-center {
    0% {
        transform: translateZ(-100px);

        opacity: 0;
    }
    100% {
        transform: translateZ(0);

        opacity: 1;
    }
}

@keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);

        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1000px);
                transform: translateY(-1000px);

        opacity: 0;
    }
}
