.block-chart {
    padding: 2rem 2rem;

    text-align: center;

    background-color: @acolyte;

    &__rating {
        padding: 2.5rem 0 3.8rem 0;
    }

    &__icon {
        font-size: 1.8rem;

        padding-right: 0.5rem;

        color: @protoss;
    }

    &__chart {
        margin-top: 4rem;
    }

    &__button {
        min-width: 100%;
    }

    &__tag {
        min-width: 18rem;
        height: 3rem;
        margin: 0.8rem 0;

        color: @stormtrooper;
        &:before, &:after {
            display: block;

            content: "";
        }
    }
}



