.button-secondary {
    .variant-colors-button-secondary(length(@colors-state));

    &--normal {
        min-width: 11.5rem;
        height: 3.5rem;
    }

    &--medium {
        min-width: 11.5rem;
        height: 3rem;
    }

    &--small {
        min-width: 11.5rem;
        height: 2.4rem;
    }
}
