.card {
    border-radius: @radius;

    &__iconography {
        font-size: 4rem;

        position: relative;
        top: -2rem;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 7.5rem;
        height: 7.5rem;
        margin: 0 auto -2rem auto;

        color: @stormtrooper;
        border-radius: 50%;
        background-color: @smart;
    }

    &__avatar {
        position: relative;

        margin: 0 auto -2rem auto;

        transform: translateY(-15%);
    }

    &__wrapper {
        padding: 2rem;
    }

    &--plain {
        background-color: @adept;
    }

    &--border {
        border: 0.1rem solid @minion;
    }
}
