.chart-circle {
    position: relative;

    display: inline-block;

    &__score {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

.font(@regular_bold, 3.2rem, @namek, 2rem);
    }

    &__desc {
        display: block;

        margin-top: 1rem;

        text-align: center;

.font(@regular_regular, 1rem, @knight, 1rem);
    }
}
