.comment {
    &__area {
        display: flex;

        padding-bottom: 2rem;

        border-bottom: 0.1rem solid @apprentice;
    }

    &__avatar {
        margin-right: 3rem;
    }

    &__message {
        flex: 1;
    }

    &__button {
        margin-top: 2rem;

        text-align: right;
    }
}
