.item-dropdown {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 5.5rem;
    padding: 0 2rem;

    transform: scaleY(1);

    background-color: @stormtrooper;

    label {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        cursor: pointer;
        transition: all 0.5s;

        border: 0.1rem solid @stormtrooper;

        &:hover {
            border: 0.1rem solid @terran;
        }
    }

    &--isActive {
        label {
            border: 0.1rem solid @smart;
        }
    }

    &__desc {
        flex: 1;

        padding-left: 3rem;
    }

    &__date, &__tag {
        width: 20%;
    }

    &__tag {
        min-width: 16rem;
        height: 3rem;

        color: @stormtrooper;
    }

    &__input {
        display: flex;
        align-items: center;

        height: 100%;
        padding-right: 1.5rem;
    }
}
