.list-tags {
    display: flex;
    align-items: center;
    flex-flow: row wrap;

    &__item {
        margin: 0.3rem 1.4rem 0.5rem 0;
    }

    &__more {
        font-size: 2rem;
        line-height: 2rem;

        padding: 0 1.2rem;

        color: @knight;
        border: 2px solid @apprentice;
        background: transparent;
    }
}
