.list-social {
    &__icon {
        font-size: 1.8rem;

        padding-right: 0.5rem;

        &--linkedin {
            color: #0077B5;
        }

        &--viadeo {
            color: #F07355;
        }

        &--skype {
            color: #00ACF4;
        }

        &--twitter {
            color: #55ACEE;
        }
    }

    &__item {
        padding-top: 1rem;
    }
}
