.navbar-miniCard-profil {
    &__avatar {
        position: relative;

        margin-right: 1rem;
    }

    &__flag {
        position: absolute;
        right: -0.5rem;
        bottom: -0.5rem;
    }
}
