.navbar-list-profil {
    height: 100%;

    &__item {
        display: flex;
        align-items: center;

        height: 100%;
    }

    &__status {
        position: relative;
        top: 0.4rem;

        margin-left: 1rem;
    }
}
