.panel-header {
    position: relative;

    display: flex;
    align-items: center;

    min-height: 4.8rem;
    padding: 0.7rem 2rem;

    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: @minion;

    &__badge {
        margin-right: 0.8rem;
    }

    &__menu {
        width: 3.3rem;
        height: 3.3rem;
        margin-left: 1rem;

        transition: all 1s;

        color: @smart;
        border-color: @minion;
        background-color: @stormtrooper;

        &:hover {
            color: @stormtrooper;
            border-color: @smart;
            background-color: @smart;
        }
    }

    &__dropdown {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 27rem;
        height: 3.3rem;

        transform: translate(-50%, -50%);

        color: @smart;
    }
}
