.panel-menu {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    width: 32rem;

    transform: scale(0);

    opacity: 0;
    border-radius: @radius;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.29);

    &:before {
        position: absolute;
        z-index: 12;
        top: -0.5rem;
        right: 2.5rem;

        display: block;

        width: 2rem;
        height: 2rem;

        content: "";
        transform: rotate(-45deg);

        background-color: @stormtrooper;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.29);
    }

    //For main menu
    &--main {
        position: fixed;
    }

    &:after {
        position: absolute;
        z-index: 14;
        top: 0;
        right: 1rem;

        display: block;

        width: 6rem;
        height: 2rem;

        content: "";

        background-color: @stormtrooper;
    }

    &__item {
        display: flex;
        align-items: center;

        height: 3.8rem;

        cursor: pointer;

        &--text {
            padding-left: 2.6rem;
        }
    }

    &--edit {
        color: @smart;
    }

    &--delete {
        color: @ruban;
    }

    &__list {
        padding: 1.4rem 1.4rem 0.5rem 1.4rem;

        &--scroll {
            padding: 0.5rem 1.4rem 1.4rem 1.4rem;

            border-top: 0.1rem solid @minion;
            border-bottom-right-radius: @radius;
            border-bottom-left-radius: @radius;
            background-color: @acolyte;
        }
    }

    &__wrapper {
        position: relative;

        min-height: 8rem;
        max-height: 20rem;
    }

    &__icon {
        font-size: 1.6rem;

        position: relative;
        top: -0.2rem;

        width: 2.6rem;

        text-align: left;
    }
}
