.stat-icons {
    position: relative;

    display: inline-block;

    &__ladder {
        i{
            margin-right: .3rem;
        }

        &--anim {
            position: absolute;
            top: 0;
            left: 0;

            overflow: hidden;

            width: 0;

            white-space: nowrap;

            color: @smart;
        }
    }
}