.tidy {
    display: flex;
    align-items: center;
    flex: 1;

    height: 3.5rem;
    padding: 0 2rem;

    border-radius: @radius @radius @radius @radius;
    background-color: @adept;

    &--dishBottom {
        border-radius: @radius @radius 0 0;
    }
}
