.vignette {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 3rem 0;

    &__icon {
        font-size: 7.5rem;
        line-height: 7.5rem;

        padding: 1rem 0;

        color: @adept;
    }

    &__button {
        min-width: 17.5rem;
        margin-top: 1rem;
    }
}
