.layout {
    display: flex;

    padding: 2.5rem 5rem 2.5rem 5rem;
    /**
  Layout 2 colonnes with sidebar
   */
    &-sidebar {
        &__aside {
            min-width: @sidebar-xs;
        }

        &__main {
            position: relative;

            min-width: calc(100% - @sidebar-xs);
            margin-left: 2rem;
        }
    }
}
