.wrapper {
    width: @wrapper-xl;
    margin: auto;

    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    background-color: #FAFAFA;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

    &--no-shadow {
        box-shadow: none;
    }
}
