.objectives-menu{
    background-color: @smart;

    &__timeline{
        color: @stormtrooper;
        display: flex;
        font-size: 1.5rem;
        padding: .8rem 5rem;
    }

    &__item{
        margin-right: 2.5rem;
        cursor: pointer;

        &--active{
            font-family: @regular_bold;
            text-decoration: underline;
        }
    }


}