/*
* Import Fonts Roboto
*/
@font-face {
    font-family: "Roboto_black";
    font-weight: 900;
    font-style: normal;

    src: url("@{font-path}/roboto-black.woff2") format("woff2"),
    url("@{font-path}/Roboto-Black.ttf") format("truetype"),
    url("@{font-path}/roboto-black.woff") format("woff");
}

@font-face {
    font-family: "Roboto_black-italic";
    font-weight: 900;
    font-style: italic;

    src: url("@{font-path}/roboto-blackitalic.woff") format("woff"),
    url("@{font-path}/Roboto-BlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto_bold";
    font-weight: 700;
    font-style: normal;

    src: url("@{font-path}/roboto-bold-webfont.eot?#iefix") format("eot"),
    url("@{font-path}/roboto-bold-webfont.svg") format("svg"),
    url("@{font-path}/roboto-bold-webfont.ttf") format("truetype"),
    url("@{font-path}/roboto-bold-webfont.woff") format("woff");
}

@font-face {
    font-family: "Roboto_bold-italic";
    font-weight: 700;
    font-style: italic;

    src: url("@{font-path}/roboto-bolditalic.woff2") format("woff2"),
    url("@{font-path}/Roboto-BoldItalic.ttf") format("truetype"),
    url("@{font-path}/roboto-bolditalic.woff") format("woff");
}

@font-face {
    font-family: "Roboto_italic";
    font-weight: 400;
    font-style: italic;

    src: url("@{font-path}/roboto-italic.woff2") format("woff2"),
    url("@{font-path}/Roboto-Italic.ttf") format("truetype"),
    url("@{font-path}/roboto-italic.woff") format("woff");
}

@font-face {
    font-family: "Roboto_light";
    font-weight: 300;
    font-style: normal;

    src: url("@{font-path}/roboto-light-webfont.woff") format("woff"),
    url("@{font-path}/roboto-light-webfont.ttf") format("truetype"),
    url("@{font-path}/roboto-light-webfont.svg") format("svg"),
    url("@{font-path}/roboto-light-webfont.eot") format("eot");
}

@font-face {
    font-family: "Roboto_light-italic";
    font-weight: 300;
    font-style: italic;

    src: url("@{font-path}/roboto-lightitalic.woff2") format("woff2"),
    url("@{font-path}/Roboto-LightItalic.ttf") format("truetype"),
    url("@{font-path}/roboto-lightitalic.woff") format("woff");
}

@font-face {
    font-family: "Roboto_medium";
    font-weight: 500;
    font-style: normal;

    src: url("@{font-path}/roboto-medium.woff2") format("woff2"),
    url("@{font-path}/Roboto-Medium.ttf") format("truetype"),
    url("@{font-path}/roboto-medium.woff") format("woff");
}

@font-face {
    font-family: "Roboto_medium-italic";
    font-weight: 500;
    font-style: italic;

    src: url("@{font-path}/roboto-mediumitalic.woff2") format("woff2"),
    url("@{font-path}/Roboto-MediumItalic.ttf") format("truetype"),
    url("@{font-path}/roboto-mediumitalic.woff") format("woff");
}

@font-face {
    font-family: "Roboto_regular";
    font-weight: normal;
    font-style: normal;

    src: url("@{font-path}/roboto-regular-webfont.woff") format("woff"),
    url("@{font-path}/roboto-regular-webfont.ttf") format("truetype"),
    url("@{font-path}/roboto-regular-webfont.svg") format("svg"),
    url("@{font-path}/roboto-regular-webfont.eot") format("eot");
}

@font-face {
    font-family: "UXP-font";
    font-weight: normal;
    font-style: normal;

    src: url("@{font-path}/UXP-Font.woff") format("woff"),
    url("@{font-path}/UXP-Font.ttf") format("truetype"),
    url("@{font-path}/UXP-Font.svg") format("svg"),
    url("@{font-path}/UXP-Font.eot") format("eot");
}

@font-face {
    font-family: "icomoon";
    font-weight: normal;
    font-style: normal;

    src: url("@{font-path}/icomoon.woff") format("woff"),
    url("@{font-path}/icomoon.ttf") format("truetype"),
    url("@{font-path}/icomoon.svg") format("svg"),
    url("@{font-path}/icomoon.eot") format("eot");
}

@font-face {
    font-family: "Roboto_thin";
    font-weight: 100;
    font-style: normal;

    src: url("@{font-path}/roboto-thin.woff2") format("woff2"),
    url("@{font-path}/Roboto-Thin.ttf") format("truetype"),
    url("@{font-path}/roboto-thin.woff") format("woff");
}

@font-face {
    font-family: "Roboto_thin-italic";
    font-weight: 100;
    font-style: italic;

    src: url("@{font-path}/roboto-thinitalic.woff2") format("woff2"),
    url("@{font-path}/Roboto-ThinItalic.ttf") format("truetype"),
    url("@{font-path}/roboto-thinitalic.woff") format("woff");
}

/*
* Import Roboto Condensed
 */
@font-face {
    font-family: "RobotoCondensed_bold";
    font-weight: 700;
    font-style: normal;

    src: url("@{font-path}/robotocondensed-bold-webfont.ttf") format("truetype"),
    url("@{font-path}/robotocondensed-bold-webfont.eot") format("eot"),
    url("@{font-path}/robotocondensed-bold-webfont.woff") format("woff"),
    url("@{font-path}/robotocondensed-bold-webfont.svg") format("svg");
}

@font-face {
    font-family: "RobotoCondensed_bold-italic";
    font-weight: 700;
    font-style: italic;

    src: url("@{font-path}/RobotoCondensed-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoCondensed_italic";
    font-weight: 400;
    font-style: italic;

    src: url("@{font-path}/RobotoCondensed-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoCondensed_light";
    font-weight: 100;
    font-style: normal;

    src: url("@{font-path}/robotocondensed-light-webfont.ttf") format("truetype"),
    url("@{font-path}/robotocondensed-light-webfont.eot") format("eot"),
    url("@{font-path}/robotocondensed-light-webfont.woff") format("woff"),
    url("@{font-path}/robotocondensed-light-webfont.svg") format("svg");
}

@font-face {
    font-family: "RobotoCondensed_light-italic";
    font-weight: 100;
    font-style: italic;

    src: url("@{font-path}/RobotoCondensed-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoCondensed_regular";
    font-weight: 400;
    font-style: normal;

    src: url("@{font-path}/robotocondensed-regular-webfont.ttf") format("truetype"),
    url("@{font-path}/robotocondensed-regular-webfont.eot") format("eot"),
    url("@{font-path}/robotocondensed-regular-webfont.woff") format("woff"),
    url("@{font-path}/robotocondensed-regular-webfont.svg") format("svg");
}

/*
* Import Icons
 */
@font-face {
    font-family: "talentsoft-font-icons";
    font-weight: normal;
    font-style: normal;

    src: url("@{font-path}/talentsoft-font-icons.eot?60qsgy");
    src: url("@{font-path}/talentsoft-font-icons.eot?60qsgy#iefix") format("embedded-opentype"),
    url("@{font-path}/talentsoft-font-icons.ttf?60qsgy") format("truetype"),
    url("@{font-path}/talentsoft-font-icons.woff?60qsgy") format("woff"),
    url("@{font-path}/talentsoft-font-icons.svg?60qsgy#talentsoft-font-icons") format("svg");
}
