.container {
    padding-right: @gutter;
    padding-left: @gutter;
}

.row {
    position: relative;

    display: flex;

    margin-right: -@gutter / 2;
    margin-left: -@gutter / 2;
}

/**

 */
*[class^="col-"] {
    padding: 0 @gutter / 2;
}

.col-3 {
    width: calc(100% / 3);
}

.col-2 {
    width: calc(100% / 2);
}

.col-4 {
    width: calc(100% / 4);
}

.col-full {
    flex: 1;

    width: 100%;
}
