/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html, body {
    font-family: @regular_regular;
    font-size: 62.5%;

    min-height: 100%;
    margin: 0;
    padding: 0;

    border: 0;
    background-attachment: fixed;
    background-size: cover;
}

div, span, object, iframe, img, table, caption, thead, tbody, tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu, nav, footer, header, section, summary, mark, audio, video {
    margin: 0;
    padding: 0;

    border: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code, del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, legend, label {
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
}

ul, li {
    margin: 0;
    padding: 0;

    list-style: none;
}

article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video {
    display: block;
}

table {
    border-spacing: 0;
    border-collapse: separate;
    caption, th, td {
        text-align: left;
        vertical-align: middle;
    }
}

a img {
    border: 0;
}

a {
    text-decoration: none;
}

:focus {
    outline: 0;
}

* {
    box-sizing: border-box;
}
