@font-path: "../fonts";
/*
For Package NPM
 */
//@font-path: "../../../fonts";

@radius: 0.4rem;
@wrapper-xl: 120rem;
@sidebar-xs: 18rem;
@gutter: 2rem;

/*
* Add color name variable for add atoms variations
 */
@colors: smart,
smartSky,
smartDark,
vador,
knight,
apprentice,
minion,
adept,
acolyte,
namek,
ruban,
saien,
protoss,
harkonnem,
terran,
zerg,
atreide,
stormtrooper;

@colors-state: default, success, warning, danger, disable;

/*
* Colors State
*/
@default: @smart;
@success: @namek;
@warning: @saien;
@danger: @ruban;
@disable: @apprentice;

/*
* Colors Utilities
*/
@black: #000000;

/*
* Colors Primaries
*/
@stormtrooper: #FFFFFF;
@smart: #124D72;
//Lighter darken
@smartSky: #4580A5;
@smartDark: #003459;

/*
* Colors Structure
*/
@acolyte: #FAFAFA;
@minion: #E1E3E5;
@knight: #AAAAAA;
@apprentice: #D1D3D5;
@adept: #F0F0F0;
@vador: #333333;

/*
* Colors Emotionals
*/
@namek: #308649;
@ruban: #D11548;
@saien: #FD9141;
/*
* Fonts Sementics
*/
@protoss: #FDDC41;
@harkonnem: #31B87B;
@terran: #5A9CDE;
@zerg: #B30062;
@atreide: #BAB491;

/*
* Import Fonts Weight
*/
@regular_light: "Roboto_light";
@regular_light-italic: "Roboto_light-italic";
@regular_regular: "Roboto_regular";
@regular_italic: "Roboto_italic";
@regular_medium: "Roboto_medium";
@regular_medium-italic: "Roboto_medium-italic";
@regular_bold: "Roboto_bold";
@regular_bold-italic: "Roboto_bold-italic";
@regular_black: "Roboto_black";
@regular_black-italic: "Roboto_black-italic";

@condensed_light: "RobotoCondensed_light";
@condensed_light-italic: "RobotoCondensed_light-italic";
@condensed_regular: "RobotoCondensed_regular";
@condensed_italic: "RobotoCondensed_italic";
@condensed_bold: "RobotoCondensed_bold";
@condensed_bold-italic: "RobotoCondensed_bold-italic";


