.avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    color: @stormtrooper;
    border-radius: 50%;
    background-color: @smart;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: padding-box;
    background-size: cover;

    //Size
    &--profil {
        width: 15rem;
        height: 15rem;

        border-width: 1rem;
        border-style: solid;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

.font(@condensed_bold, 7rem, @stormtrooper, 7rem);
    }

    &--profil-mini {
        width: 7.5rem;
        height: 7.5rem;

        border-width: 0.4rem;
        border-style: solid;

.font(@condensed_bold, 3.5rem, @stormtrooper, 3.5rem);
    }

    &--header {
        width: 3.6rem;
        height: 3.6rem;

        border-width: 0.3rem;
        border-style: solid;

.font(@condensed_bold, 1.4rem, @stormtrooper, 1.4rem);
    }

    &--feed {
        width: 3.6rem;
        height: 3.6rem;

        border-width: 0.3rem;
        border-style: solid;

.font(@condensed_bold, 1.4rem, @stormtrooper, 1.4rem);
    }

    &--widget {
        width: 6rem;
        height: 6rem;

        border-width: 0.3rem;
        border-style: solid;

.font(@condensed_bold, 2rem, @stormtrooper, 2rem);
    }

    //State
    &--connect {
        border-color: @terran;
    }

    &--candidate {
        border-color: @harkonnem;
    }

    &--collaborator {
        border-color: @protoss;
    }

    &--disable {
        border-color: @apprentice;
    }
}
