.badge {
    &--counter {
        font-size: 1rem;
        line-height: 1.4rem;

        display: inline-block;

        width: 1.8rem;
        height: 1.5rem;

        text-align: center;
        vertical-align: middle;

        border: 0.1px solid @minion;
        border-radius: 1rem;
        background-color: @stormtrooper;
    }

    &--date {
        font-size: 1rem;
        line-height: 1rem;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        width: 3.6rem;
        height: 3.6rem;

        color: @stormtrooper;
        border-radius: 50%;
        background-color: @smartSky;

        &--gray {
            background-color: @knight;
        }

        strong {
            font-size: 1.6rem;
            line-height: 1.6rem;

            color: @stormtrooper;
        }
    }

    &--head {
        position: relative;

        padding: 0 0.8rem;

        color: @stormtrooper;

        &:before {
            position: absolute;
            top: -2rem;
            left: 0;

            display: block;

            width: 100%;
            height: 2rem;

            content: "";

            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            background-color: inherit;
        }

        &:after {
            position: absolute;
            bottom: -0.5rem;
            left: 0;

            display: block;

            width: 100%;
            height: 0.5rem;

            content: "";

            border-bottom-right-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
            background-color: inherit;
        }
    }
}
