.button {
    position: relative;

    display: inline-block;

    cursor: pointer;
    text-align: center;

    border: none;
    border-radius: @radius;
    background-color: transparent;

.font(@regular_regular, 1.4rem, @stormtrooper, 1.4rem);

    &__icon {
        font-size: 1.5rem;

        position: absolute;
        top: 50%;
        left: 0.8rem;

        height: 1.5rem;

        transform: translateY(-50%);
    }

    &__badge {
        position: absolute;
        top: 50%;
        right: 0.8rem;

        transform: translateY(-50%);
    }

    /**
* CTA Primary & Secondary style common
* View file .less for more informations _button-secondary.less & _button-primary
 */
    &-primary, &-secondary {
        padding: 0 3rem;
    }
}
