.dropdown {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    border-radius: 100rem;
    background-color: @stormtrooper;

.font-regular-bold();

    &__icon {
        position: absolute;
        top: 50%;
        right: 1.5rem;

        padding-left: 1rem;

        transform: translateY(-50%);

        border-left: 0.1rem solid @knight;
    }
}
