.flag {
    border: 0.2rem solid @stormtrooper;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &--header {
        width: 1.7rem;
        height: 1.7rem;
    }

    &--md {
        width: 4rem;
        height: 4rem;
    }
}
