/*
* Add name + id icon
 */
@iconsArray: icon-action-add "\e900",
icon-alerte "\e901",
icon-alerte2 "\e902",
icon-camera "\e903",
icon-file-broken "\e904",
icon-file-csv "\e905",
icon-file-empty "\e906",
icon-file-excel "\e907",
icon-file-pdf "\e908",
icon-file-person "\e909",
icon-file "\e90a",
icon-files "\e90b",
icon-filter "\e90c",
icon-folder-add "\e90d",
icon-folder-download "\e90e",
icon-folder-minus "\e90f",
icon-folder-open "\e910",
icon-folder-upload "\e911",
icon-folder "\e912",
icon-heart "\e913",
icon-heart2 "\e914",
icon-hide "\e915",
icon-historic "\e916",
icon-home "\e917",
icon-info "\e918",
icon-info2 "\e919",
icon-job "\e91a",
icon-like "\e91b",
icon-menu "\e91c",
icon-minus "\e91d",
icon-people "\e91e",
icon-play-inprogress "\e91f",
icon-plus "\e920",
icon-prev "\e921",
icon-print-preview "\e922",
icon-question "\e923",
icon-question2 "\e924",
icon-reverse "\e925",
icon-time2 "\e926",
icon-twitter2 "\e927",
icon-viadeo2 "\e928",
icon-waiting "\e929",
icon-warning2 "\e92a",
icon-xing2 "\e92b",
icon-abduct "\e92c",
icon-add "\e92d",
icon-affix "\e92e",
icon-airplane "\e92f",
icon-arrow-down "\e930",
icon-arrow-up "\e931",
icon-award "\e932",
icon-bell "\e933",
icon-blocked "\e934",
icon-book "\e935",
icon-bookmark "\e936",
icon-bookmark2 "\e937",
icon-bottom "\e938",
icon-caddie "\e939",
icon-calendar-add "\e93a",
icon-calendar-checked "\e93b",
icon-calendar-delete "\e93c",
icon-calendar-empty "\e93d",
icon-calendar-minus "\e93e",
icon-calendar "\e93f",
icon-card-people "\e940",
icon-chart-graph "\e941",
icon-chart-histogram "\e942",
icon-chart-pie "\e943",
icon-chart-pie2 "\e944",
icon-check "\e945",
icon-clipboard-add "\e946",
icon-clipboard-check "\e947",
icon-clipboard-delete "\e948",
icon-clipboard-empty "\e949",
icon-clipboard "\e94a",
icon-column "\e94b",
icon-degree "\e94c",
icon-delete "\e94d",
icon-discussion "\e94e",
icon-discussion2 "\e94f",
icon-dpwnload "\e950",
icon-dropbox "\e951",
icon-edit "\e952",
icon-expand "\e953",
icon-font "\e954",
icon-indicator "\e955",
icon-item-list "\e956",
icon-jalon "\e957",
icon-key "\e958",
icon-left "\e959",
icon-link "\e95a",
icon-linkedin "\e95b",
icon-linkedin2 "\e95c",
icon-list-details "\e95d",
icon-list-grid "\e95e",
icon-loader "\e95f",
icon-location "\e960",
icon-lock "\e961",
icon-logout "\e962",
icon-mail "\e963",
icon-mail2 "\e964",
icon-man "\e965",
icon-map-sign "\e966",
icon-message "\e967",
icon-message2 "\e968",
icon-mobile "\e969",
icon-more-vertical "\e96a",
icon-more "\e96b",
icon-move "\e96c",
icon-notification "\e96d",
icon-paragraph-centered "\e96e",
icon-paragraph-justify "\e96f",
icon-paragraph-left "\e970",
icon-paragraph-right "\e971",
icon-paramters "\e972",
icon-pause "\e973",
icon-phone "\e974",
icon-photo "\e975",
icon-picture "\e976",
icon-pin "\e977",
icon-play "\e978",
icon-print "\e979",
icon-profil "\e97a",
icon-quote-close "\e97b",
icon-quote-open "\e97c",
icon-reduce "\e97d",
icon-refresh "\e97e",
icon-repete "\e97f",
icon-right "\e980",
icon-save "\e981",
icon-search "\e982",
icon-section "\e983",
icon-send "\e984",
icon-send2 "\e985",
icon-setting "\e986",
icon-share "\e987",
icon-show "\e988",
icon-skype "\e989",
icon-smiley-happy "\e98a",
icon-smiley-neutral "\e98b",
icon-smiley-sad "\e98c",
icon-spell-check "\e98d",
icon-star-empty "\e98e",
icon-star-half "\e98f",
icon-star "\e990",
icon-stop "\e991",
icon-table "\e992",
icon-target "\e993",
icon-time "\e994",
icon-top "\e995",
icon-translate "\e996",
icon-trash "\e997",
icon-tree "\e998",
icon-trophy "\e999",
icon-twitter "\e99a",
icon-undo "\e99b",
icon-unlock "\e99c",
icon-upload "\e99d",
icon-vary "\e99e",
icon-viadeo "\e99f",
icon-warning "\e9a0",
icon-woman "\e9a1",
icon-xing "\e9a2";

.loopIcons(length(@iconsArray));

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "talentsoft-font-icons" !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

/* Better Font Rendering =========== */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
}
