.input-switch {
    &__input {
        &:checked {
            & + span {
                background-color: @smart;
            }

            & + span:after {
                transform: translate(100%, -50%);
            }
        }
    }

    &:hover {
        .input-switch__apparence:after {
            border-color: @terran;
            background-color: lighten(@terran, 35%);
        }
    }

    &__apparence {
        position: relative;

        display: inline-block;

        width: 3.2rem;
        height: 1.6rem;

        cursor: pointer;
        user-select: none;
        transition: all 1s;

        border-radius: 100rem;
        outline: none;
        background-color: #DDDDDD;

        &:before, &:after {
            position: absolute;
            top: 1px;
            bottom: 1px;
            left: 1px;

            display: block;

            content: "";
        }

        &:before {
            transition: background 0.4s;

            border-radius: 100rem;
            background-color: #F1F1F1;
        }

        &:after {
            top: 50%;
            left: 0;

            width: 1.5rem;
            height: 1.5rem;

            transition: all 0.4s;
            transform: translate(0, -50%);

            border: 0.1rem solid @smart;
            border-radius: 100%;
            background-color: @stormtrooper;
        }
    }
}
