input[type="checkbox"] {
    display: none;
}

.input-checkbox {
    &__input {
        &:checked {
            & + span {
                border: 0.1rem solid @smart;
                background-color: @smart;
            }
        }
    }

    &:hover {
        .input-checkbox__apparence {
            border-color: lighten(@terran, 25%);
        }
    }

    &__apparence {
        position: relative;

        display: block;

        width: 1.6rem;
        height: 1.6rem;

        transition: 0.5s all;
        text-align: center;

        border: 0.1rem solid @apprentice;
        border-radius: 0.5rem;

        &:before {
            font-family: "talentsoft-font-icons" !important;
            font-size: 2rem;
            font-weight: normal;
            font-style: normal;
            font-variant: normal;
            line-height: 1.6rem;

            position: absolute;
            top: 50%;
            left: 50%;

            content: "\E98D";
            transition: all 0.5s ease-out;
            transform: translate(-50%, -72%);
            text-transform: none;

            color: @stormtrooper;

            -webkit-font-smoothing: antialiased;
            speak: none;
        }
    }
}
