.input {
    display: block;

    cursor: pointer;

    &__choice {
        display: flex;
        align-items: center;

        padding-top: 0.5rem;
    }

    &__value {
        position: relative;
        top: 0.1rem;

        padding-left: 1rem;
    }

    &__message {
        font-family: @regular_italic;

        position: absolute;
        bottom: -1.8rem;
        left: 0;

        transition: all 0.5s;
        animation: displayError 1s 0.5s forwards;

        opacity: 0;

.font(@regular_italic, 1.2rem, @ruban, 1.8rem);

        &--error {
            color: @ruban;
        }
    }    
}

@keyframes displayError {
    0% {
        opacity: 0;
        transform: translateX(-2rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);        
    }
}
