.input-select {
    font-family: "Roboto_regular";
    font-size: 1.4rem;
    line-height: 1.4rem;

    position: relative;

    display: inline-block;

    min-width: 17.5rem;
    height: 3.5rem;

    transition: all 0.5s;

    color: @vador;
    border: 0.1rem solid #D1D3D5;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    background: @stormtrooper;

    &__hide {
        display: none;
    }

    &-dropdown {
        &__up, &__down {
            position: absolute;
            top: 50%;
            left: 50%;
        }

        &__up {
            transition: transform 0.3s 0.1s, opacity 0.3s 0.1s;
            transform: translate(-50%, -80%);

            opacity: 0;
        }

        &__down {
            transition: transform 0.3s 0.1s, opacity 0.3s 0.1s;
            transform: translate(-50%, -50%);

            opacity: 1;
        }
    }

    //Display Menu 
    &--open {
        & + .input-select__list {
            display: block;
            visibility: visible;

            transition: visibility 0s linear, opacity 0.5s linear;

            opacity: 1;
        }

        .input-select__status-bar {
            transform: translateX(0);
        }

        .input-select-dropdown__down {
            transform: translate(-50%, -80%);

            opacity: 0;
        }

        .input-select-dropdown__up {
            transform: translate(-50%, -55%);

            opacity: 1;
        }
    }

    &__wrapper {
        position: relative;

        overflow: hidden;

        height: 100%;
    }

    &__selection {
        font-size: 1.4rem;
        line-height: 1.8rem;

        position: absolute;

        overflow: hidden;

        max-width: 100%;
        padding: 0.8rem 3.6rem 0.8rem 1.5rem;

        white-space: nowrap;
        text-overflow: ellipsis;

        color: @vador;
    }

    &__button {
        font-size: 14px;

        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;

        display: inline-block;

        width: 3.3rem;
        height: 3.3rem;

        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        text-align: center;

        color: @smart;
        border-style: none;
        border-radius: 0 0.3rem 0.3rem 0;
        background-color: #E1E3E5;

        &:hover {
            color: @stormtrooper;
            background-color: @smart;
        }
    }

    &__status-bar {
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 0.1rem;

        transition: transform 0.5s;
        transform: translateX(-100%);

        background-color: @terran;
    }

    &__list {
        position: absolute;
        z-index: 10;

        display: block;
        visibility: hidden;

        width: 100%;
        margin: 0;
        padding: 0.5rem;

        transition: visibility 0s linear 0.5s,opacity 0.5s linear;

        opacity: 0;
        border-right: 1px solid @apprentice;
        border-bottom: 1px solid @apprentice;
        border-left: 1px solid @apprentice;
        border-radius: 0;
        border-bottom-right-radius: 0.4rem;
        border-bottom-left-radius: 0.4rem;
        background-color: @stormtrooper;
    }

    &__label {
        .font(@regular_regular, 1.4rem, @knight, 1.8rem);
    }

    &__icon {
        padding-right: 0.5rem;
    }

    &__item {
        overflow: hidden;

        max-width: 100%;
        padding: 0.8rem;

        cursor: pointer;
        transition: all 0.5s;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {
            border-radius: 0.4rem;
            background-color: fade(@terran, 25%);
        }

        &--delete {
            color: @ruban;

            &:hover {
                color: @stormtrooper;
                background-color: @ruban;
            }
        }
    }
}
