.input-text {
    width: 100%;
    height: 3.5rem;
    padding: 0.8rem;

    transition: all 0.5s 1s;

    border: 0.1rem solid @apprentice;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;

.font(@regular_regular, 1.4rem, @vador, 1.4rem);

.placeholder(@regular_italic, @minion, 1.4rem);

    &--warning {
        border-color: @apprentice;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        & + .input-text__status-bar {
            transform: translateX(0);

            background-color: @zerg;
        }
    }

    &--icon {
        padding-left: 3.2rem;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 0.8rem;

        transform: translateY(-50%);
    }

    &:hover {
        border-color: lighten(@terran, 25%);
    }

    &:focus {
        transition: all 0.5s;

        border-color: @apprentice;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        & + .input-text__status-bar {
            transform: translateX(0);
        }
    }



    &__box {
        position: relative;

        padding-top: 0.5rem;
    }

    &__status-bar {
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 0.1rem;

        transition: transform 0.5s 0.5s;
        transform: translateX(-100%);

        background-color: @terran;
    }

    &__wrapper {
        position: relative;

        display: block;
        overflow: hidden;
    }
}
