input[type="radio"] {
    display: none;
}

.input-radio {
    &__input {
        &:checked {
            & + span {
                border: 0.1rem solid @smart;
                background-color: @smart;
            }
        }
    }

    &:hover {
        .input-radio__apparence {
            border-color: lighten(@terran, 25%);
        }
    }

    &__apparence {
        position: relative;

        display: block;

        width: 1.6rem;
        height: 1.6rem;

        transition: 0.5s all;

        border: 0.1rem solid @apprentice;
        border-radius: 50%;

        &:before {
            position: absolute;
            top: 50%;
            left: 50%;

            display: block;

            width: 0.6rem;
            height: 0.6rem;

            content: "";
            transition: all 0.5s ease-out;
            transform: translate(-50%, -50%);

            border-radius: 50%;
            background-color: @stormtrooper;
        }
    }
}
