.loader {
    position: fixed;
    z-index: 1300;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: @stormtrooper;

    svg {
        position: absolute;
        top: 50%;
        left: 50%;

        height: 6.5rem;

        transform: translate(-50%, -50%);

        fill: @smart;
        stroke: @smart;
    }
}
