.scrollbar--active {
    position: relative;

    overflow: hidden;
}

/*
 * Container style
 */
.ps {
    overflow: hidden !important;

    overflow-anchor: none;
    -ms-overflow-style: none;
    -ms-touch-action: auto;
        touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
/* please don't change 'position' */
    position: absolute;

/* there must be 'bottom' or 'top' for ps__rail-x */
    bottom: 0;

    display: none;

    height: 15px;

    -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
            transition: background-color 0.2s linear, opacity 0.2s linear;

    opacity: 0;
}

.ps__rail-y {
/* please don't change 'position' */
    position: absolute;
/* there must be 'right' or 'left' for ps__rail-y */
    right: 0.5rem;

    width: 0.3rem;
    margin: 2rem 0;

    -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
    //display: none;
    //opacity: 0;
            transition: background-color 0.2s linear, opacity 0.2s linear;

    border-radius: 100rem;
}

.ps--active-x > .ps__rail-x, .ps--active-y > .ps__rail-y {
    display: block;

    background-color: #E3E3E3;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
/* please don't change 'position' */
    position: absolute;

/* there must be 'bottom' for ps__thumb-x */
    bottom: 2px;

    height: 6px;

    -webkit-transition: background-color 0.2s linear, height 0.2s ease-in-out;
            transition: background-color 0.2s linear, height 0.2s ease-in-out;

    border-radius: 6px;
    background-color: #AAAAAA;
}

.ps__thumb-y {
/* please don't change 'position' */
    position: absolute;

/* there must be 'right' for ps__thumb-y */
    right: -0.1rem;

    width: 6px;

    -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
            transition: background-color 0.2s linear, width 0.2s ease-in-out;

    border-radius: 6px;
    background-color: @smart;
}

.ps__rail-x:hover > .ps__thumb-x, .ps__rail-x:focus > .ps__thumb-x {
    height: 11px;

    background-color: #999999;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
    .ps {
        overflow: auto !important;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ps {
        overflow: auto !important;
    }
}
