.stats-bar {
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 1.5rem;
    margin: 0.2rem 0;

    border-radius: 100rem;
    background-color: @apprentice;

    &__indicator {
        font-size: 1.1rem;

        position: absolute;
        z-index: 30;
        top: 50%;
        left: 1.5rem;

        transform: translateY(-50%);

        color: @stormtrooper;
    }

    &__result {
        position: absolute;
        top: 50%;
        right: 100%;

        width: 100%;
        height: 101%;

        transition: all 1s;
        transform: translate(-100%, -50%);

        border-radius: 100rem;
        background-color: @smart;

        will-change: transform;
    }
}
