.tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 2rem;
    padding: 0 2rem;

    border-radius: 100rem;

.font(@regular_regular, 1.4rem, @vador, 1.8rem);
}
