textarea {
    resize: none;

    border: none;
.font-regular();
    
}

textarea::-webkit-input-placeholder {
    font-family: @regular_italic;
    font-size: 1.4rem;

    color: @minion;
}

textarea:-moz-placeholder {
    /* Firefox 18- */
    font-family: @regular_italic;
    font-size: 1.4rem;

    color: @minion;
}

textarea::-moz-placeholder {
    /* Firefox 19+ */
    font-family: @regular_italic;
    font-size: 1.4rem;

    color: @minion;
}

textarea:-ms-input-placeholder {
    font-family: @regular_italic;
    font-size: 1.4rem;

    color: @minion;
}
