.text--regular, p {
    .font(@regular_regular, 1.4rem, @vador, 1.8rem);

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.text--bold, strong {
    .font(@regular_bold, 1.4rem, @vador, 1.8rem);
}

.text--italic, em {
    .font(@regular_italic, 1.2rem, @vador, 1.4rem);
}
